@import 'reset';

* { box-sizing: border-box; }

// ------------- Billing App ---------------

.c-container { width: 100%; height: 100vh; background: rgb(2,0,36); background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(106,9,121,0.8365546902354692) 40%, rgba(0,212,255,1) 100%); }

.c-header { width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 20px 0; }
.c-header h1 { font-size: 40px; font-weight: bold; color: #fff; }

.c-bills { max-width: 580px; margin: 0 auto; padding: 0 20px; }
.c-bills__container__total { display: flex; justify-content: space-between; align-items: center; color: #fff; }
.c-bills__container__total__text { font-size: 24px; }
.c-bills__container__total__number { font-size: 20px; }