/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.o-wrap {
  max-width: 600px;
  margin: 0 auto;
}

.c-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(138deg, #020024 0%, rgba(106, 9, 121, 0.836555) 40%, #00d4ff 100%);
  overflow: hidden;
}

.c-container__background {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  height: 77vh;
  background-color: #f2f2f2;
}

.c-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding: 20px 0;
}

.c-header h1 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.c-bills {
  position: relative;
  z-index: 10;
  height: calc(100vh - 120px - 97px);
  padding: 0 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.c-bills__container__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  color: #fff;
}

.c-bills__container__total__text {
  font-size: 24px;
}

.c-bills__container__total__number {
  font-size: 20px;
}

.c-bills__container__list {
  margin-bottom: 10px;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.34);
}

.c-bills__container__list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.c-bills__container__list__item:last-child {
  margin-bottom: 0;
}

.c-bills__container__list__item:last-child::after {
  border-bottom: none;
}

.c-bills__container__list__item::after {
  position: absolute;
  content: '';
  bottom: -15px;
  left: -20px;
  right: -20px;
  border-bottom: 1px solid #a8a8a8;
}

.c-bills__container__list__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-bills__container__list__item__text p {
  font-weight: bold;
  color: #454545;
  text-transform: capitalize;
}

.c-bills__container__list__item__text__logo {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-color: #00d4ff;
  border-radius: 50%;
}

.c-bills__container__list__item__text__logo svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.c-bills__container__list__item__price {
  color: #727272;
}

.c-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  box-shadow: 0px -8px 15px -4px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px -8px 15px -4px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px -8px 15px -4px rgba(0, 0, 0, 0.34);
}

.c-nav__link {
  padding: 20px 10px;
  text-align: center;
  color: #727272;
  text-transform: capitalize;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.c-nav__link:hover {
  cursor: pointer;
  color: #6a0979;
}

.c-nav__link__icon svg {
  margin-bottom: 10px;
  font-size: 30px;
}

.c-nav__link--add {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #00d4ff;
  border-radius: 50%;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.c-nav__link--add:hover {
  background-color: #6a0979;
}

.c-nav__link--add .c-nav__link__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-nav__link--add svg {
  margin-bottom: 0;
  color: #fff;
}

.c-addBill {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: linear-gradient(138deg, #020024 0%, rgba(106, 9, 121, 0.836555) 40%, #00d4ff 100%);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.17, 0.84, 0.44, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.17, 0.84, 0.44, 1);
  transition: transform 0.7s cubic-bezier(0.17, 0.84, 0.44, 1);
  transition: transform 0.7s cubic-bezier(0.17, 0.84, 0.44, 1), -webkit-transform 0.7s cubic-bezier(0.17, 0.84, 0.44, 1);
  -webkit-transform: translateY(150vh);
          transform: translateY(150vh);
}

.c-addBill.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.c-addBill__container {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 40px);
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.34);
}

.c-addBill__container h2 {
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.c-addBill__container button {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #00d4ff;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.c-addBill__container button:hover {
  cursor: pointer;
  background-color: #6a0979;
}

.c-addBill__container__group {
  margin-bottom: 30px;
}

.c-addBill__container__group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.c-addBill__container__group input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
}

@media only screen and (min-width: 600px) {
  .c-addBill__container {
    width: 100%;
  }
  .c-nav {
    width: 600px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 10px;
  }
}
/*# sourceMappingURL=index.css.map */