@import 'reset';

$hspace: 20px;
$vspace: 20px;

$font-size: 16px;
$font-size-small: 14px;
$font-size-medium: 20px;
$font-size-large: 24px;
$font-size-xlarge: 30px;
$font-size-xxlarge: 40px;

$font-color-dark:#454545;
$font-color-light: #727272;
$color-border: #a8a8a8;
$color-bg: #f2f2f2;
$color-bg-add: #00d4ff;
$color-icon: #6a0979;
$linear-gradient: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(106,9,121,0.8365546902354692) 40%, rgba(0,212,255,1) 100%);

* { box-sizing: border-box; }

// ------------- Billing App ---------------
.o-wrap { max-width: 600px; margin: 0 auto; }

.c-btn { margin-bottom: $vspace/4; padding: $vspace/8 $hspace/2; border: 1px solid $color-border; border-radius: 3px; transition: background-color .3s ease-in-out; color: $font-color-dark;
  &:hover { cursor: pointer; }
}
.c-btn--paid { background-color: #a5f477; 
  &:hover { background-color: #8bf44e; }
  &.notActive { background-color: #fff; }
}
.c-btn--delete { background-color: #f97c8f; 
  &:hover { background-color: #f9435e; }
}

.c-container { position: relative; width: 100%; height: 100vh; background: $linear-gradient; overflow: hidden; }
.c-container__background { position: absolute; z-index: 5; bottom: 0; left: 0; right: 0; height: 77vh; background-color: $color-bg; }

.c-header { width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: $vspace*2; padding: $vspace 0; }
.c-header h1 { font-size: $font-size-xxlarge; font-weight: bold; color: #fff; }

.c-bills { position: relative; z-index: 10; height: calc(100vh - 120px - 97px); padding: 0 $hspace; overflow-y: scroll; scrollbar-width: none; }
.c-bills__container__total { display: flex; justify-content: space-between; align-items: center; margin-bottom: $vspace*2; color: #fff; }
.c-bills__container__total__text { font-size: $font-size-large; }
.c-bills__container__total__number { font-size: $font-size-medium; }

.c-bills__container__list { margin-bottom: $vspace/2; background-color: #fff; border-radius: 10px; box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.34); -webkit-box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.34); -moz-box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.34); overflow: hidden; }
.c-bills__container__list__item { position: relative; display: flex; justify-content: space-between; align-items: center; padding: $vspace $hspace; background-color: #fceaed;
  &:last-child { margin-bottom: 0; 
    &::after{ border-bottom: none; }
  }
}
.c-bills__container__list__item.notActive { background-color: #e6f7dc; }
.c-bills__container__list__item::after { position: absolute; content: ''; bottom: 0; left: 0; right: 0; border-bottom: 1px solid $color-border; }
.c-bills__container__list__item__text { display: flex; align-items: center; 
  p { font-weight: bold; color: $font-color-dark; text-transform: capitalize; }
}
.c-bills__container__list__item__text__logo { position: relative; width: 40px; height: 40px; margin-right: $hspace; background-color: $color-bg-add; border-radius: 50%;
  svg { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: $font-size-medium; color: #fff; }
}
.c-bills__container__list__item__price { color: $font-color-light; }
.c-bills__container__list__item__buttons { display: flex; flex-direction: column; }

.c-nav { position: absolute; bottom: 0; width: 100%; z-index: 100; display: flex; padding: 0 $hspace; justify-content: space-between; align-items: center; background-color: #fff; box-shadow: 0px -8px 15px -4px rgba(0,0,0,0.34); -webkit-box-shadow: 0px -8px 15px -4px rgba(0,0,0,0.34); -moz-box-shadow: 0px -8px 15px -4px rgba(0,0,0,0.34); }
.c-nav__link { padding: $vspace $hspace/2; text-align: center; color: $font-color-light; text-transform: capitalize; transition: all .3s ease-in-out; 
  &:hover { cursor: pointer; color: $color-icon; }
}
.c-nav__link__icon svg { margin-bottom: $vspace/2; font-size: 30px; }
.c-nav__link--add { position: relative; width: 50px; height: 50px; background-color: $color-bg-add; border-radius: 50%; transition: background-color .3s ease-in-out;
  &:hover { background-color: $color-icon; }
  .c-nav__link__icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
  svg { margin-bottom: 0; color: #fff; }
}

.c-addBill { position: absolute; top: 0; z-index: 10; width: 100%; height: 100vh; background: $linear-gradient; transition: transform .7s cubic-bezier(.17,.84,.44,1); transform: translateY(150vh); }
.c-addBill.active { transform: translateY(0); }
.c-addBill__container { position: absolute; top: 20%; left: 50%; transform: translateX(-50%); width: calc(100% - #{$hspace*2}); padding: $vspace $hspace; border-radius: 10px; background-color: #fff; box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.34); -webkit-box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.34); -moz-box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.34);

  h2 { position: absolute; top: -60px; left: 50%; transform: translateX(-50%); width: 100%; font-size: $font-size-xlarge; font-weight: bold; text-align: center; color: #fff; }
  button { width: 100%; padding: $vspace/2 $hspace; border: 1px solid $color-border; border-radius: 3px; font-size: $font-size; font-weight: bold; text-transform: uppercase; color: #fff; background-color: $color-bg-add; transition: background-color .3s ease-in-out;
    &:hover { cursor: pointer; background-color: $color-icon; }
  }
}

.c-addBill__container__group { margin-bottom: $vspace*1.5;
  label { display: block; margin-bottom: $vspace/4; font-size: $font-size; font-weight: bold; }
  input { display: block; width: 100%; padding: $vspace/4 $hspace/2; font-size: $font-size-medium; border: 1px solid $color-border; border-radius: 3px;
  }
}


// ---------------- Media Queries -----------------
@media only screen and (min-width: 600px) {
  .c-addBill__container { width: 100%; }
  .c-nav { width: 600px; left: 50%; transform: translateX(-50%); border-radius: 10px; }
}